<!DOCTYPE html>
<html ng-app="crudApp">
  <head>
    <meta charset="utf-8" />
    <title>Senegocia simple CRUD</title>

    <!-- BOOTSTRAP -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <!-- APP STYLES -->
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div ng-controller="appCtrl">
      <img class="img-logo" src="./images/logo.png" alt="" />
      <div id="post-list" ng-if="currentView === 'listView'">
        <h1 class="title">Posts</h1>
        <div ng-if="posts.length == 0">
          <h2 class="notice">
            Looks like you have not added any posts... Starting adding!
          </h2>
        </div>
        <div ng-if="posts.length > 0">
          <ul ng-repeat="post in posts track by $index">
            <li class="post-box">
              <div class="details">
                <h4 style="font-weight: 100">{{post.title}}</h4>
                <p>{{post.body}}</p>
                <p style="font-size: 0.8em"><strong>ID:</strong> {{post.id}}</p>
                <a
                  href="javascript:void(0)"
                  type="button"
                  ng-click="deletePost($index)"
                >
                  <i class="fa fa-minus-circle" aria-hidden="true"></i>
                  <svg
                    style="color: tomato; margin-right: 20px"
                    width="1.5em"
                    height="1.5em"
                    viewBox="0 0 16 16"
                    class="bi bi-trash"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                    />
                  </svg>
                </a>
                <a
                  href="javascript:void(0)"
                  type="button"
                  ng-click="editPost($index)"
                >
                  <svg
                    width="1.5em"
                    height="1.5em"
                    viewBox="0 0 16 16"
                    class="bi bi-pencil-square"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                    />
                  </svg>
                </a>
              </div>
            </li>
          </ul>
        </div>

        <a
          href="javascript:void(0)"
          class="submit"
          type="submit"
          name="button"
          ng-click="changeView('createView')"
        >
          <svg
            width="1.2em"
            height="1.2em"
            viewBox="0 0 16 16"
            class="bi bi-plus-circle"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
            />
            <path
              fill-rule="evenodd"
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
            />
          </svg>
          Add a new Post!
        </a>
      </div>

      <div id="add-post" ng-if="currentView === 'createView'">
        <div class="container">
          <h1 class="title">Add a Post</h1>

          <form method="post">
            <h3>What is your Post's title?</h3>
            <input
              type="text"
              placeholder="Title"
              ng-model="$ctrl.person.title"
            />
            <h3>¡Awesome Description title!</h3>
            <input
              type="text"
              placeholder="Description"
              ng-model="$ctrl.person.description"
            />
            <div class="buttons">
              <button
                class="btn btn-success"
                type="submit"
                name="button"
                ng-click="addPost($ctrl.person)"
              >
                <i class="fa fa-check-circle" aria-hidden="true"></i> Create
              </button>
              <button
                class="btn btn-default"
                type="button"
                name="button"
                ng-click="changeView('listView')"
              >
                <i class="fa fa-times-circle" aria-hidden="true"></i> Cancel
              </button>
            </div>
          </form>
        </div>
      </div>

      <div id="edit-post" ng-if="currentView === 'editView'">
        <div class="container">
          <h1 class="title">Edit Details</h1>

          <form method="post">
            <h3>Title</h3>
            <input
              type="text"
              placeholder="{{edit.title}}"
              ng-model="$ctrl.edit.title"
            />
            <h3>Description</h3>
            <input
              type="text"
              placeholder="{{edit.body}}"
              ng-model="$ctrl.edit.description"
            />
            <div class="buttons">
              <button
                class="btn btn-primary"
                type="submit"
                name="button"
                ng-click="submitEdit($ctrl.edit, $index)"
              >
                <i class="fa fa-check-circle" aria-hidden="true"></i> Edit
              </button>
              <button
                class="btn"
                type="button"
                ng-click="changeView('listView')"
              >
                <i class="fa fa-times-circle" aria-hidden="true"></i> Cancel
              </button>
            </div>
          </form>
        </div>
      </div>

      <div id="delete-post" ng-if="currentView === 'deleteView'">
        <div class="container">
          <h1 class="title">Are you sure?</h1>
          <p class="del-notice">
            Are you sure you want to delete {{delete.name}} from your life?
          </p>
          <div class="buttons">
            <button
              class="btn btn-danger"
              type="submit"
              name="button"
              ng-click="submitDelete()"
            >
              <i class="fa fa-check-circle" aria-hidden="true"></i> I'm Sure
            </button>
            <button
              class="btn btn-default"
              type="button"
              ng-click="changeView('listView')"
            >
              <i class="fa fa-times-circle" aria-hidden="true"></i> No, Keep
              {{delete.name}}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- ANGULARJS 1.6.6 -->
    <script src="https://code.angularjs.org/1.6.6/angular.min.js"></script>
    <!-- APP CONTROLLER -->
    <script src="app.js"></script>
  </body>
</html>
